body{margin:0; padding:0; background-color:#fafafa;}
.body{position:absolute; width: 100%; height:100%;}
.contmain{
	width: 800px;
    height: 600px;

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:-10%; bottom:0;
    margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
	
    border-radius: 2px;

    animation: 0.8s ease-out 0s 1 slideInFromTop;
}

.contchild{
    background-color: white;
    width: 100%;
    height: 530px;
    position: absolute;
    bottom: 0px;

    -webkit-box-shadow: 0px 5px 5px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0px 5px 5px 3px #ccc;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0px 2px 3px 2px #ccc; 
}

.logos{
    position: absolute;
    margin-top:0px;
    border-radius:50%;
    border:5px solid white;
    left: 50%;
  /* bring your own prefixes */
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 1px 1px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0px 1px 1px 0px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 1px 1px 0px #ccc; 
    
}

.childcontent{
    background-color: white;
    height:400px;
    padding-right:50px; 
    padding-left:50px;
    
}

.blockdivs{
    display: inline-block;
    width: 300px;
    margin: 1em;
}

.right{
    float:right;
}

.divsmargin{
    margin-top:-12px;
}

.fixing{
    visibility: hidden;
}

.btncont{
    width:300px;
}

.havacc{
    color:#2196f3;
    text-decoration: none;
    cursor:pointer;
}

.havacc:hover {
    text-decoration: underline;
}

 /*For Register Password*/

.contmainp{
	width: 400px;
    height: 350px;
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    border-radius: 2px;

    animation: 0.8s ease-out 0s 1 slideInFromTops;
}

.contmainpp{
	width: 400px;
    height: 400px;
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    border-radius: 2px;

    animation: 0.8s ease-out 0s 1 slideInFromTops;
}

.contchildp{
    background-color: white;
    width: 100%;
    height: 350px;
    position: absolute;
    bottom: 0px;

    -webkit-box-shadow: 0px 5px 5px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0px 5px 5px 3px #ccc;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0px 2px 3px 2px #ccc; 
}

.contchildpp{
    background-color: white;
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: 0px;

    -webkit-box-shadow: 0px 5px 5px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    0px 5px 5px 3px #ccc;  /* Firefox 3.5 - 3.6 */
	box-shadow:         0px 2px 3px 2px #ccc; 
}

.childcontentp{
    background-color: white;
    height:250px;
    padding-right:50px; 
    padding-left:50px;
    
}

.childcontentpp{
    background-color: white;
    height:300px;
    padding-right:50px; 
    padding-left:50px;
    
}

.blockdivsp{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}

.finish{
    margin-top:30px;
    width:110px !important;
    height:110px !important;
}

.regsuc{
    font-weight: 400;
    color:#757575;
}

@keyframes slideInFromTops {
    0% {
        transform: translateY(-3%);
    }
    100% {
        transform: translateY(0%);
    }
}

@media screen and (max-width: 767px) {
    .contmain{
        width:100%;
        height: 700px !important;
        position: relative;
        top:0;
    }
    .contmainp{
        width: 100%;
        height: 500px !important;
        margin-top: 70px;
        
    }
    .contchild{
        height:630px !important;
    }
    .contchildp{
        height: 100%;
        -webkit-box-shadow: 0px 0px 0px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    0px 0px 0px 0px #ccc;  /* Firefox 3.5 - 3.6 */
        box-shadow:         0px 0px 0px 0px #ccc; 
    }
    .blockdivs{
        width: 100%;
        margin-left:auto;
        margin-right:auto;
    }
    .childcontent{
        background-color: white;
        height:750px;
        padding-right:30px; 
        padding-left:30px;       
    }
    .childcontentp{
        background-color: white;
        height: 100% !important;
        padding-right:30px; 
        padding-left:30px;       
    }
    .fixing{
        visibility: visible;
        display: none;
    }
    .fixdiv{
        margin-top:-12px;
    }
    .btncont{
        width:100%;;
    }
    .body{
        background-color: white;
    }


}

@media screen and (max-height: 800px) {
    .contmain{
        position: relative;
        top:0;
    }
}