body{margin:0; padding:0; background-color:#fafafa;}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
.divdrawer{
    background-color: #2196F3;
    height:64px;
    width:100%;
}

.menuavatar{
    width:150px;
    height: 60px;
    position: relative;
    left:9px;
}

.avatarmenu{
    margin-top:3px;
}
.dropdownsrch{
    position: absolute;
    display: none;
    z-index: 9999;
}

.paperSrch{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
    margin-top: -10px;
    max-height: 500px;
    display: none;
}

.avatarmenubig{
    margin-top:7px;
}
.centered{
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}
.logoavatars{
    margin-top:12px !important;
    border-radius:50%;
    border:3px solid white;
    margin-left:15px;
}

.cotxt{
    color:white;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    margin-top:14px;
    margin-left:10px;
}

.avatartxt{
    font-size: 14px;
    position: absolute;
    margin-top:15px;
    margin-left:5px;
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.avatarsubtxt{
    font-size: 12px;
    position: absolute;
    margin-top:29px;
    margin-left:5px;
}

.avatartxtbig{
    font-size: 14px;
    position: absolute;
    margin-top:16px;
    margin-left:5px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    color:white;
}

.avatarsubtxtbig{
    font-size: 12px;
    position: absolute;
    margin-top:32px;
    margin-left:5px;
    color:white;
    width: 100px;
    text-overflow: ellipsis; 
}

.Floatingbtn{
    position: fixed !important;
    bottom: 4%;
    right: 3%;
    z-index: 99 !important;
}

.titleStyle{
    padding-left: 215px;
}

.titleFont{
    font-size: 20px;
}

.divbig{
    width:183px;
    height: 64px;
    margin-top:-8px;
    margin-right: -7px;
}

.expandicon{
    position:absolute;
    right:10px;
    top:19px;
}
.contentContainer{
    height:90%;
    width:100%;
    max-width: 100%;
    position: absolute;
    padding-left: 256px;
    padding-top: 64px;
}
.childcon{
    padding: 30px;
}
.loadParent{
    position: relative;
    height: 100%;
    width: 100%;
    position: absolute;
}
.loadChild{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-3%);
    }
    100% {
        transform: translateY(0%);
    }
}


@media screen and (max-width: 769px) {
    .Floatingbtn{
        bottom: 5%;
        right: 5%;
    }
    .titleStyle{
        padding-left: 0;
    }
    .contentContainer{
        padding-left: 0px;
        padding-right: 0px;
        width: 100% !important; 
    }
    .childcon{
        padding: 0px;
        height: 100vh;
    }
}